# Environment & Configuration Files
.env
*.env
ingest/.env

# Dependencies
node_modules/

# Python & Runtime Cache
__pycache__/
*.log

# Project Rules & Testing
.clinerules
/Testing/
*src
*build
*.svelte*
